<h1 mat-dialog-title>Новый канал</h1>
<div mat-dialog-content>
    <form (submit)="applyFilters($event)">
        <mat-form-field style="width: 100%;" appearance="outline">
            <input matInput [(ngModel)]="dashboard.link" placeholder="Ссылка на канал" name="link" autocomplete="off">
        </mat-form-field>
        <div>
            Период обработки
            <mat-slider thumbLabel [(ngModel)]="dashboard.processingTime" [displayWith]="formatLabel" min="1" max="30" name="processingTime"></mat-slider>
            {{dashboard.processingTime}} дней
        </div>
        <div>
            Частота обновления
            <mat-slider thumbLabel [(ngModel)]="dashboard.updatePeriod" [displayWith]="formatLabel" min="1" max="24" name="updatePeriod"></mat-slider>
            часов
        </div>
        <mat-checkbox [(ngModel)]="dashboard.isLikes" name="isLikes">Количество лайков</mat-checkbox>
        <mat-checkbox [(ngModel)]="dashboard.isViews" name="isViews">Количество просмотров</mat-checkbox>
        <mat-checkbox [(ngModel)]="dashboard.isComments" name="isComments">Количество комментариев</mat-checkbox>
        <mat-checkbox [(ngModel)]="dashboard.isCommentsMood" name="isCommentsMood">Эмоциональная окраска комментариев</mat-checkbox>
    </form>
</div>
<div mat-dialog-actions style="float: right;">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Сохранить</button>
</div>
