.dashboards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard {
    width: 256px;
    height: 144px;
    --border: 2px solid red;
    margin: 20px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 200ms ease-in-out;
}

i {
    font-size: 50px;
}

.dashboard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(241, 241, 241, 0.07);
}

@media (max-width: 500px) {
    .dashboard {
        width: 100%;
        margin: 10px;
    }
}

.count {
  color: grey;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.mat-icon {
  margin-right: 4px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  .title {
    font-size: 18px;
    font-weight: 600;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .description {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}

