<div class="dashboards-list">
    <mat-card class="dashboard" (click)="addDashboard()">
        <div>
            <i class="material-icons">add</i>
        </div>
    </mat-card>
  <ng-container  *ngIf="channels">
    <mat-card class="dashboard" *ngFor="let channel of channels" (click)="toVideo(channel._id)">
      <div style="display: flex;align-items: center; justify-content: center">
        <img src="{{channel.thumbnail || 'https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw_400x400.jpg'}}" style="width: 100px; height: 100px; border-radius: 50px;">
        <div style="display: flex; flex-direction: column; margin-left: 10px;">
          <span style="font-size: 18px; font-weight: 600; opacity: 1 !important;">{{channel.title}}</span>
          <span style="color: grey; display: flex; align-items: center; font-size: 14px;"><mat-icon style="margin-right: 4px;">local_movies</mat-icon>{{channel.videoCount}}</span>
          <span style="color: grey; display: flex; align-items: center; font-size: 14px;"><mat-icon style="margin-right: 4px;">people</mat-icon>{{channel.subscriberCount}}</span>
        </div>
      </div>
    </mat-card>
  </ng-container>
</div>
