.dashboards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard {
    width: 256px;
    height: 144px;
    --border: 2px solid red;
    margin: 20px;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    --opacity: 0.3;
    cursor: pointer;
    --background: url(http://i3.ytimg.com/vi/erLk59H86ww/maxresdefault.jpg) 100%;
    --background: rgba(0, 0, 0, 0.2) 100%;
    --background-image:url(http://i3.ytimg.com/vi/erLk59H86ww/maxresdefault.jpg); 
    --background-size: cover;

  transition: box-shadow 200ms ease-in-out;

}



i {
    font-size: 50px;
}

.dashboard:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(241, 241, 241, 0.07);
}

