<div class="dashboards-list">
    <mat-card class="dashboard" (click)="addDashboard()">
        <div>
            <i class="material-icons">add</i>
        </div>
    </mat-card>
    <mat-card class="dashboard" *ngFor="let dashboard of dashboards" (click)="toVideo('idididi')">
        <div style="display: flex;align-items: center; justify-content: center">
            <img src="http://i3.ytimg.com/vi/erLk59H86ww/maxresdefault.jpg" style="width: 100px; height: 100px; border-radius: 50px;">
            <div style="display: flex; flex-direction: column; margin-left: 10px;">
                <span style="font-size: 18px; font-weight: 600; opacity: 1 !important;">
                    ChannelName</span>
                <span style="color: grey; display: flex; align-items: center; font-size: 14px;"><mat-icon>local_movies</mat-icon>45343</span>
                <span style="color: grey; display: flex; align-items: center;"><mat-icon>people</mat-icon>234345</span>
            </div>
        </div>
    </mat-card>
</div>