
<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="nav-menu">
    <div style="display: flex; flex-direction: column">
      <!--<button mat-button (click)="sidenav.toggle()" style="margin: 0 16px">-->
        <!--<mat-icon>close</mat-icon>-->
      <!--</button>-->
      <a mat-button class="nav-text">
        Главная страница
      </a>
      <a mat-button class="nav-text">
        Личный кабинет
      </a>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="display: flex; flex-direction: row; justify-content: space-between" *ngIf="isLogined()">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-button (click)="exit()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
