@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'theme.scss';

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/deep/ .mat-toolbar.mat-primary {
  background: #000 !important;
}

.mat-dialog-content {
  max-height: unset !important;
  overflow: unset !important;
}


