<mat-card class="header">
  <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=erLk59H86ww">
    <img class="thumbnail-image" src="http://i3.ytimg.com/vi/erLk59H86ww/maxresdefault.jpg">
  </a>
  <div class="header-info">
    <p class="video-name">Star Wars: The Force Awakens Official Teaser</p>
    <div class="video-views">24 363 672 просмотра</div>
    <div class="video-marks">
      <i class="material-icons">thumb_up</i>
      155 ТЫС.
    </div>
    <div class="video-marks">
      <i class="material-icons">thumb_down</i>
      4,9 ТЫС.
    </div>
  </div>
</mat-card>

<div class="content">
  <mat-card class="chart">
    <app-stat-chart></app-stat-chart>
  </mat-card>
  <mat-card class="mark">
    <div class="mark-sign">8/8</div>
    <div class="mark-title">Оценка</div>
  </mat-card>
</div>