@import '../../styles.scss';

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.mark {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chart {
  width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
}

.mark-sign {
  font-family: sans-serif;
  font-size: 130px;
  color: $accent-color;
  text-align: center;
}

.mark-title {
  font-family: sans-serif;
  font-size: 86px;
  color: grey;
}

.header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.header-info {
  margin: 15px;
}

.thumbnail-image {
  width: 320px;
}

.thumbnail-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.video-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.video-views {
  color: grey;
  margin: 5px 0;
}

.video-marks {
  display: inline-flex;
  align-items: center;
  width: 120px;

  i {
    font-size: 18px;
    color: gray;
    margin-right: 4px;
  }
}

.mat-card {
  margin: 10px;
}

.progress {
    height: 20px;
    border-radius: 10px;
    display: inline-block;
}

.user-portrait {
  display: inline-block;
  width: 150px;
}

.user-portrait-info {
  display: inline-block;
}

.warning {
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media (max-width: 500px) {
  .chart {
      display: none;
  }

  .mark {
    width: 100%;
  }

  .thumbnail-image {
    width: 100%;
  }
}

@media (min-width: 501px) {
  .warning {
      display: none;
  }
}