<mat-card class="warning">
  <mat-icon color="primary" style="margin-right: 10px;">warning</mat-icon>
  To view the details, use the desktop version.
</mat-card>
<mat-card class="header" *ngIf="videoInfo">
  <a target="_blank" rel="noopener noreferrer" href="{{getVideoLink()}}">
    <img class="thumbnail-image" src="{{videoInfo[0]?.thumbnail || 'https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw_400x400.jpg'}}">
  </a>
  <div class="header-info">
    <p class="video-name">{{videoInfo[0]?.title}}</p>
    <div class="video-views">{{videoInfo[0]?.viewCount}} views</div>
    <div class="video-marks">
      <i class="material-icons">thumb_up</i>
      {{videoInfo[0]?.likeCount}}
    </div>
    <div class="video-marks">
      <i class="material-icons">thumb_down</i>
      {{videoInfo[0]?.dislikeCount}}
    </div>
  </div>
</mat-card>

<div class="content">
  <mat-card class="chart">
    <app-stat-chart></app-stat-chart>
  </mat-card>
  <mat-card class="mark">
    <div>
      <mat-icon>thumb_up</mat-icon>
      <mat-progress-bar mode="determinate" class="progress" value="52"></mat-progress-bar>
    </div>
    <div>
      <mat-icon>comment</mat-icon>
      <mat-progress-bar mode="determinate" class="progress" color="warn" value="82"></mat-progress-bar>
    </div>
    <div>
      <mat-icon>mood</mat-icon>
      <mat-progress-bar mode="determinate" class="progress" color="warn" value="70"></mat-progress-bar>
    </div>
    <div class="mark-sign">74%</div>
  </mat-card>
</div>
