<div class="content" *ngIf="!(isChart$ | async)">
  <mat-card class="card" *ngFor="let video of videos" (click)="openChartByVideo(video.id)">
    <img mat-card-image src="{{video.thumbnail}}" alt="Photo">
    <mat-card-content class="description">
      <span class="title">{{video.title}}</span>
      <span class="views">Просмотров: {{video.viewCount}}</span>
      <span class="date">{{video.publishedAt | date:'dd.MM.yyyy'}}</span>
    </mat-card-content>
  </mat-card>
</div>
<app-video-info *ngIf="isChart$ | async"></app-video-info>
