.card {
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 200ms ease-in-out;
  width: 277px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.description {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 20px;
    font-weight: 550;
  }

  .views {
    font-size: 16px;
    color: grey;
  }

  .date {
    font-size: 16px;
    color: grey;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}

.header-info {
  margin: 15px;
}

.thumbnail-image {
  height: 120px;
  width: 160px;
}

.thumbnail-image:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.channel-name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.channel-followers {
  color: grey;
  margin: 5px 0;
}

@media (max-width: 500px) {
  .card {
      width: 100%;
  }
}
