<script src="../../environments/environment.ts"></script>
<mat-card class="header" *ngIf="channel">
  <a href="{{channel[0]?.link}}">
    <img class="thumbnail-image" src="{{channel[0].thumbnail || 'https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw_400x400.jpg'}}">
  </a>
  <div class="header-info">
    <p class="channel-name">{{channel[0]?.title}}</p>
    <div class="channel-followers">{{channel[0]?.subscriberCount}} followers</div>
  </div>
</mat-card>
<div class="content">
  <mat-card class="card" *ngFor="let video of videos" (click)="openChartByVideo(video?.videoId)">
    <img mat-card-image src="{{video?.thumbnail || 'https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw_400x400.jpg'}}" alt="Photo">
    <mat-card-content class="description">
      <span class="title">{{video?.title}}</span>
      <span class="views">Views: {{video?.viewCount}}</span>
      <span class="date">Date of publication: {{video?.publishedAt ? (video.publishedAt | date:'dd.MM.yyyy') : ''}}</span>
    </mat-card-content>
  </mat-card>
</div>
